In [1]:
import pandas as pd

In [2]:
first_df = pd.read_csv('Groundwater.csv')

In [3]:
first_df.dtypes

WELLKEY             int64
COMTRS             object
RANDLAT           float64
RANDLONG          float64
CHEMNUMBER          int64
CHEMNAME           object
CONC              float64
SL                float64
AGENCY              int64
AGENCY_ACRON       object
SDATE              object
STYPE              object
STATUS             object
RESIDUE_SOURCE     object
LAB               float64
ADATE              object
APFILE             object
COUNTY_NAME        object
WELLCODE           object
WELLTYPE           object
DEPTH             float64
TPERF             float64
BPERF             float64
DETECT_STATUS      object
DPR_RESPONSE       object
dtype: object

In [4]:
to_drop = ['CONC', 'COMTRS', 'AGENCY', 'AGENCY_ACRON', 'LAB', 'ADATE', 'APFILE', 'WELLCODE', 'WELLTYPE', 'DEPTH', 'TPERF', 'BPERF', 'DETECT_STATUS','RESIDUE_SOURCE', 'STYPE', 'DPR_RESPONSE']

first_df.drop(to_drop, inplace=True, axis=1)

first_df.head(5)

,WELLKEY,RANDLAT,RANDLONG,CHEMNUMBER,CHEMNAME,SL,SDATE,STATUS,COUNTY_NAME
0,100770,37.805859,-122.158223,2265,Aldicarb sulfone (degradate),0.080,6/7/2007,N,Alameda
1,100770,37.805859,-122.158223,2361,Aldicarb sulfoxide (degradate),0.040,6/7/2007,N,Alameda
2,100770,37.805859,-122.158223,575,Aldicarb,0.040,6/7/2007,N,Alameda
3,100770,37.805859,-122.158223,45,Atrazine,0.007,6/7/2007,N,Alameda
4,100770,37.805859,-122.158223,4096,ACET (degradate),0.080,6/7/2007,N,Alameda

In [9]:
new_names = {'RANDLAT' : 'LATITUDE', 'RANDLONG' : 'LONGITUDE', 'CHEMNUMBER' : 'CHEM_NUMBER', 'CHEMNAME' : 'CHEM_NAME', 'SL' : 'SCREEN_LEVEL_CON', 'SDATE' : 'SAMPLE_DATE'}

first_df.rename(columns=new_names, inplace=True)


first_df.head()

,WELLKEY,LATITUDE,LONGITUDE,CHEM_NUMBER,CHEM_NAME,SCREEN_LEVEL_CON,SAMPLE_DATE,STATUS,COUNTY_NAME
0,100770,37.805859,-122.158223,2265,Aldicarb sulfone (degradate),0.080,6/7/2007,N,Alameda
1,100770,37.805859,-122.158223,2361,Aldicarb sulfoxide (degradate),0.040,6/7/2007,N,Alameda
2,100770,37.805859,-122.158223,575,Aldicarb,0.040,6/7/2007,N,Alameda
3,100770,37.805859,-122.158223,45,Atrazine,0.007,6/7/2007,N,Alameda
4,100770,37.805859,-122.158223,4096,ACET (degradate),0.080,6/7/2007,N,Alameda

In [11]:
numOfRows = len(first_df.index)
 
print('Number of Rows in dataframe : ' , numOfRows)

Number of Rows in dataframe :  2735403

In [12]:
cleaned_df = first_df.dropna()

In [13]:
numOfRows = len(cleaned_df.index)
 
print('Number of Rows in dataframe : ' , numOfRows)

Number of Rows in dataframe :  2715751

In [14]:
cleaned_df.to_csv(r'clean_well_df.csv', index = False, header=True)